<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
    </head>
    <style>
        html{
            overflow-x: hidden;
        }
        #navBar{
            font-size: 130%;
            padding-left: 10%;
            padding-top: 1%;
            padding-bottom: 1%;
            background-color: #4b4b8c;
            color: white;
            font-weight: bold;
        }
        .cat:hover{
            color: #8f8f91;
            cursor: pointer;
            text-decoration: underline;
        }
    </style>
    <body>
        <div class="row" id="navBar">
            <div class="col-md-12">
                <div class="col-md-3 cat" onclick="change()">
                    Gérer les articles
                </div>
                <div class="col-md-3 cat">
                    Statistiques
                </div>
                <div class="col-md-3 cat">
                    configuration
                </div>
                <div class="col-md-2 cat">
                    mes clients
                </div>
            </div>
        </div>
        <div class="row col-md-12 article" style="margin-top: 2%">
            bienvenue sur le dashboard du site eCommerce
        </div>
    </body>
</html>
<script>
    {# change(document.location.href.includes('page') ? document.location.href.match(/\?page=([\d]+)/)[1] : 1) #}
    function change()
    {
        $.ajax({
                type: 'POST',
                data: {},
                url: "{{path('manage_page')}}",
                success: function(data) {
                    $('.article').html(data)
                },
            });
    }
</script>
