<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>

</style>
<body>
    <div style="margin-top:10%;">
        {% for article in articles %}
            <div class="row col-md-4">
                <img class="articles" style="width: 320px; height: 300px; margin-left: 5%;"src="{{article.image}}">
                <span class="articles" style="margin-left: 5%; font-weight: bold;"> {{ article.nom }} </span>
                <div class="bottom-right">- {{ article.salePercent }}%</div>
            </div>
        {% endfor %}
</body>
</html>